html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  box-sizing: border-box;
  color: #ffffff;
  min-width: 480px;
}

* {
  box-sizing: border-box;
}

main, article, address {
  display: block;
}

.montserrat, h1, h2, h3, h4, h5, h6, .header__nav--menu, .header__nav--element {
  font-family: 'Montserrat', sans-serif;
}

.lato, p, .contact__form-txt {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #18bc9c;
  transition: color 0.3s ease;
}
a:hover {
  text-decoration: underline;
  color: #128f76;
}
a.white {
  color: #ffffff;
}
a.white:hover {
  color: #ffffff;
  text-decoration: none;
}

.offset {
  width: 80vw;
  margin: 0 auto;
  max-width: 1300px;
}

.header {
  width: 100%;
  background: #2d3e50;
  padding: 2rem;
  position: fixed;
  min-width: 480px;
}
.header__title {
  display: inline-block;
  margin: 0;
  font-size: 1.75rem;
}
.header__nav {
  float: right;
  display: none;
  height: 0;
  transition: height 0.5s ease;
}
.header__nav.open {
  display: block;
  width: 100%;
  background: #1b2530;
  position: absolute;
  left: 0;
  margin-top: 33px;
  padding: 30px;
  height: initial;
}
@media (min-width: 850px) {
  .header__nav {
    display: block;
    height: initial;
  }
}
.header__nav--menu {
  display: block;
  float: right;
  position: relative;
  top: 5px;
  padding: 7px;
  padding-top: 26px;
  margin-bottom: -10px;
}
@media (min-width: 850px) {
  .header__nav--menu {
    display: none;
  }
}
.header__nav--menu::before, .header__nav--menu::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  border-color: #ffffff;
  border-style: solid;
  border-width: 4px 0 0 0;
  width: 80%;
  top: 0;
  transition: transform 0.5s ease;
  margin-left: 0;
}
.header__nav--menu::after {
  top: 12px;
}
.header__nav--menu.open::before, .header__nav--menu.open::after {
  width: 80%;
  margin-left: -10%;
}
.header__nav--menu.open::before {
  transform: rotate(45deg);
  transform-origin: 32px 8px;
}
.header__nav--menu.open::after {
  transform: rotate(-45deg);
  transform-origin: 11px -13px;
}
.header__nav--element {
  font-size: 1.2rem;
  line-height: 2.2;
  margin-right: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s ease;
  color: #ffffff;
}
.header__nav--element:last-child {
  margin-right: 0;
}
.header__nav--element:hover {
  color: #18bc9c;
  text-decoration: none;
}
.open .header__nav--element {
  display: block;
  padding: 0.5rem;
}

main {
  text-align: center;
  padding-top: 3rem;
}

article {
  padding-top: 4rem;
  padding-bottom: 6rem;
}
article .star-divider {
  display: inline-block;
  padding-left: 0;
  width: 35%;
  margin-bottom: 2rem;
}
article .star-divider__item {
  display: inline-block;
}
article .star-divider__line {
  border-top: 4px solid #ffffff;
  width: 30%;
  height: 1rem;
}
article .star-divider__star {
  width: 2.8rem;
  font-size: 2.3rem;
}
article:nth-child(2n+1) {
  background-color: #18bc9c;
}
article:nth-child(2n) {
  color: #2d3e50;
}
article:nth-child(2n) .star-divider {
  margin-bottom: 2%;
}
article:nth-child(2n) .star-divider__line {
  border-color: #2d3e50;
}
article .banner__subtitle {
  text-transform: capitalize;
  font-size: 1.75rem;
  font-weight: 400;
}

.portfolio__tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.portfolio__tile {
  width: 95%;
  margin-right: 0;
  margin-bottom: 30px;
}
@media (min-width: 750px) {
  .portfolio__tile {
    width: 45%;
    margin-right: 30px;
  }
  .portfolio__tile:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 1100px) {
  .portfolio__tile {
    width: 30%;
    margin-right: 30px;
  }
  .portfolio__tile:nth-child(2n) {
    margin-right: 30px;
  }
}

.about___text {
  margin: 0 auto;
  margin-bottom: 1rem;
}
.about___text p {
  width: 100%;
  display: block;
  text-align: left;
  line-height: 1.7;
}
@media (min-width: 750px) {
  .about___text {
    width: 80%;
    display: flex;
  }
  .about___text p {
    width: 49%;
  }
  .about___text p:nth-child(2) {
    padding-left: 15px;
  }
}
@media (min-width: 1100px) {
  .about___text {
    width: 66%;
  }
}
.about button {
  border: 1px solid currentColor;
  background: none;
  color: currentColor;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: background 0.7s ease, color 0.8s ease;
}
.about button:hover {
  background: #ffffff;
  color: #18bc9c;
}
.about button i {
  margin-right: 10px;
}

.contact__form {
  width: 100%;
  margin: 0 auto;
}
.contact__form-txt {
  display: block;
  width: 100%;
  padding: 20px;
  border: 0;
  border-bottom: 1px solid #eee;
  font-size: 23px;
  margin-top: 23px;
  resize: none;
  color: #2d3e50;
}
.contact__form-submit {
  width: auto;
  background: #18bc9c;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 0;
  margin-right: auto;
  border: 1px solid transparent;
  transition: background 0.6s ease, color 0.6s ease, border 0.3s ease;
}
.contact__form-submit:hover {
  background: #ffffff;
  border-color: #18bc9c;
  color: #18bc9c;
}
@media (min-width: 1100px) {
  .contact__form {
    width: 80%;
  }
}

.footer {
  background: #1b2530;
  padding: 2rem;
  text-align: center;
  font-weight: 400;
}
.footer__fat-footer {
  background: #2d3e50;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.footer__fat-wrapper {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__fat-column {
  width: 30%;
  text-align: center;
  line-height: 1.5;
}
.footer__fat-socials {
  font-size: 1.75rem;
}
.footer__fat-socials-link {
  margin: 0.25rem;
  border: 3px solid #ffffff;
  padding: 0.5rem;
  border-radius: 13rem;
  width: 4rem;
  height: 4rem;
  display: inline-block;
}

address {
  font-style: normal;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
