$green: #18bc9c;
$white: #ffffff;
$dark-grey: #2d3e50;
$black: #1b2530;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 300;
    box-sizing: border-box;
    color: $white;
    min-width: 480px;
}
* {
    box-sizing: border-box;
}
main, article, address {
    display: block;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;    
}
.lato {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
    @extend .montserrat;
}
h1 {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
}
h2 { 
    font-size: 3rem;
    margin-bottom: 0;
}
h3 {
    font-size: 1.5rem;
}
p {
    @extend .lato;
    font-size: 1.25rem;
}
a {
    text-decoration: none;
    color: $green;
    transition: color 0.3s ease;

    &:hover {
        text-decoration: underline;
        color: darken($green,10%);
    }
    &.white {
        color: $white;
        &:hover{
            color: $white;
            text-decoration: none;
        }
    }
}

.offset  {
    width: 80vw;
    margin: 0 auto;
    max-width: 1300px;
}

.header {
    width: 100%;
    background: $dark-grey;
    padding: 2rem;
    position: fixed;
    
    &__title {
        display: inline-block;
        margin: 0;
        font-size:  1.75rem
    }
    &__nav {
        float: right;
        display: none;
        height: 0;
        transition: height 0.5s ease;

        &.open{
            display: block;
            width: 100%;
            background: $black;
            position: absolute;
            left: 0;
            margin-top: 33px;
            padding: 30px;
            height: initial;
        }
        
        @media (min-width:850px){
            display: block;
            height: initial;
        }

        &--menu {
            @extend .montserrat;
            display: block;
            float: right;
            position: relative;
            top: 5px;
            padding: 7px;
            padding-top: 26px;
            margin-bottom: -10px;

            @media (min-width: 850px){
                display: none;
            }

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 0;
                border-color: $white;
                border-style: solid;
                border-width: 4px 0 0 0;
                width: 80%;top: 0;
                transition: transform 0.5s ease;
                margin-left: 0;
            }
            &::after {
                top: 12px;
            }

            &.open {
                &::before,
                &::after {
                    width: 80%;
                    margin-left: -10%;
                }
                &::before {
                    transform: rotate(45deg);
                    transform-origin: 32px 8px;
                }
                &::after {
                    transform: rotate(-45deg);
                    transform-origin: 11px -13px;
                }
            }

        }

        &--element {
            font-size: 1.2rem;
            line-height: 2.2;
            margin-right: 1.5rem;
            text-decoration: none;
            @extend .montserrat;
            text-transform: uppercase;
            transition: color 0.5s ease;
            color: $white;

            &:last-child{
                margin-right: 0;
            }
            &:hover {
                color: $green;
                text-decoration: none;
            }

            .open & { 
                display: block;
                padding: 0.5rem;
            }
        }
    }
}

main  {
   text-align: center;
   padding-top: 3rem;
}

article {
    padding-top: 4rem;
    padding-bottom: 6rem;
    
    .star-divider {
        display: inline-block;
        padding-left: 0;
        width: 35%;
        margin-bottom: 2rem;
        
        &__item {
            display: inline-block;
        }
        &__line {
            border-top: 4px solid $white;
            width: 30%;
            height: 1rem;
        }
        &__star {
            width: 2.8rem;
            font-size: 2.3rem;
        }
    }
    &:nth-child(2n+1) {
        background-color:$green;
    }
    
    &:nth-child(2n) {
        color: $dark-grey;
        
        & .star-divider {
            margin-bottom: 2%;
            
            &__line {
                border-color: $dark-grey;
            }           
        }
    }
    
    .banner__subtitle {
        text-transform: capitalize;
        font-size: 1.75rem;
        font-weight: 400;
    }
} 

.portfolio { 
    &__tiles {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;
    }
    &__tile {
        width: 95%;
        margin-right: 0;   
        margin-bottom: 30px;
        
        @media (min-width:750px) {
            width: 45%;
            margin-right: 30px;
            
            &:nth-child(2n) {
                margin-right: 0;
            }         
        }
        @media (min-width:1100px) {
            width: 30%;
            margin-right: 30px;
           
            &:nth-child(2n) {
                margin-right: 30px;
            }               
        }
    }
}

.about {
    &___text {
        margin: 0 auto;
        margin-bottom: 1rem;

        p {
            width: 100%;
            display: block;
            text-align: left;
            line-height: 1.7;
            
        }
        @media (min-width:750px) {
            width: 80%;
            display: flex;

            p {
                width: 49%;

                &:nth-child(2) {
                    padding-left: 15px;
                }
            }
        }
        @media (min-width: 1100px){
            width: 66%;
        
        }
    }
    button {
        border: 1px solid currentColor;
        background: none;
        color: currentColor;
        padding: 20px 40px;
        border-radius: 5px;
        font-size: 1.25rem;
        transition: background 0.7s ease, color 0.8s ease;

        &:hover {
            background: $white;
            color: $green;
        }

        i {
            margin-right: 10px;
        }
    }
}

.contact {
    &__form {
    width: 100%;
    margin: 0 auto;
        &-txt {
            display: block;
            width: 100%;
            padding: 20px;
            border: 0;
            border-bottom: 1px solid #eee;
            font-size: 23px;
            margin-top: 23px;
            resize: none;
            @extend .lato;
            color: $dark-grey;
        }
        &-submit {
            width: auto;
            background: $green;
            border-radius: 5px;
            color: $white;
            margin-left: 0;
            margin-right: auto;
            border: 1px solid transparent;
            transition: background 0.6s ease,
                        color 0.6s ease,
                        border 0.3s ease;

            &:hover {
                background: $white;
                border-color: $green;
                color: $green;
            }
        }
        @media (min-width: 1100px) {
            width: 80%;
        }
    }
}

.footer {
    background: $black;
    padding: 2rem;
    text-align: center;
    font-weight: 400;
    
    &__fat {
        &-footer {
            background: $dark-grey;
            padding-top: 4rem;
            padding-bottom: 5rem;
        }
        &-wrapper {
            width: 80vw;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        &-column {
            width: 30%;
            text-align: center;
            line-height: 1.5;
            
        }
        &-socials {
            font-size: 1.75rem;
            &-link {
                margin: 0.25rem;
                border: 3px solid $white;
                padding: 0.5rem;
                border-radius: 13rem;
                width: 4rem;
                height: 4rem;
                display: inline-block;
            }
        }   
    }
}

address {
    font-style: normal;
    line-height: 1.5;
}